name: CI/CD Express + Vite

on:
  push:
    branches: ['main']

jobs:
  # ==============================
  # JOB 1 — CI (backend + frontend)
  # ==============================
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js con caché
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: |
            backend/package-lock.json
            frontend/package-lock.json

      # -------- Backend --------
      - name: Instalar dependencias del backend
        run: npm ci
        working-directory: backend

      - name: Test backend
        run: npm test
        working-directory: backend

      - name: Lint backend
        run: npm run lint
        working-directory: backend

      # -------- Frontend --------
      - name: Instalar dependencias del frontend
        run: npm ci
        working-directory: frontend

      - name: Test frontend
        run: npm test
        working-directory: frontend

      - name: Lint frontend
        run: npm run lint
        working-directory: frontend

      - name: Build frontend
        run: npm run build
        working-directory: frontend

      - name: Subir artefacto del build
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist

  # ==============================
  # JOB 2 — Deploy del frontend
  # ==============================
  deploy_frontend:
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Descargar artefacto
        uses: actions/download-artifact@v4
        with:
          name: frontend-dist
          path: dist

      - name: Deploy a GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
  # ==============================
  # JOB 3 — Build & Push Backend Docker
  # ==============================
  backend_docker:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend-integracion:latest ./backend

      - name: Push image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend-integracion:latest
